.header {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('../../assets/head.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.header-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.header-contents h2 {
    font-weight: 600;
    font-size: clamp(2rem, 5vw, 3.5rem); /* Responsive font size */
    margin-bottom: 1rem;
}

.header-contents p {
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Responsive font size */
    margin-bottom: 2rem;
}

.header-contents button {
    border: none;
    color: #fff;
    background-color: #0facdf;
    padding: 1rem 2rem;
    font-size: clamp(0.8rem, 1.5vw, 1rem); /* Responsive font size */
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-contents button:hover {
    background-color: #0481b2;
}

/* Add keyframes for fadein animation */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media query for smaller screens */
@media (max-width: 1050px) {
    .header-contents h2 {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
    }

    .header-contents p {
        font-size: clamp(1rem, 2.5vw, 1.25rem);
    }

    .header-contents button {
        font-size: clamp(0.8rem, 3vw, 1rem);
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 80%;
    }
}
