/* Footer.css */
.footer {
    margin: 10px 0 0 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-content-left {
    flex: 1;
  }
  
  .footer-content-left img {
    width: 100px; /* Adjust according to your logo size */
  }
  
  .footer-content-left p {
    margin-top: 20px;
  }
  
  .footer-social-icons img {
    width: 30px;
    margin-right: 10px;
  }
  
  .footer-content-center,
  .footer-content-right {
    flex: 1;
  }
  
  .footer-content-center h2,
  .footer-content-right h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-content-center ul,
  .footer-content-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-content-center li,
  .footer-content-right li {
    margin-bottom: 5px;
  }
  