.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: rgb(161, 158, 154);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 14px;
    animation: fadein 0.5s;
    padding: 25px 30px;
    border-radius: 8px;
}

.login-popup-title{
    color: black;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-popup-input{
    display: flex;
    flex-direction: column;

}
.login-popup-container input{
    outline: none;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
    margin: 2px;
}

.login-popup-container button{
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: red;
    color: white;

}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;

}
.login-popup p span{
    color: red;
    font-weight: 500;
    cursor: pointer;
}